/* General Reset */
body, ul, li, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
  
/* Header Styles */
.navbar {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 3rem;
    background-color: rgba(1, 21, 44, 0.9); /* Navy with transparency for blur effect */
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    z-index: 1000;
    padding: 15px 0px;
            /* transition: background-color 0.3s ease, transform 1s ease-in;
            transform: translateY(100%); */
}

/* .navbar.scrolled {
    transform: translateY(0);
    transition: transform 1s ease-in;
} */

  
/* Logo Styles */
.logo {
    flex: 0 0 auto; /* Prevents the logo from stretching */
}

.logo-image {
    width: auto; /* Adjust the size of your logo */
    height: 86px;
    display: block;
    margin-top:4px ;
    margin-left: 2rem;
}
 
.Cname{
    color: #ffffff; /* Gold color for company name */
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    /* text-transform: uppercase; */
    margin-left: 0rem; /* Adjust the margin as needed */
    padding-bottom: 2px;
}

.Cname:hover {
    color: #ffffff; /* Gold color for company name */
    /* scale: 1.1; */
    text-shadow: 0 0 30px #0331c6;  /* Gold color for company name */
}

/* Navbar Links */
.nav-links {
    flex: 1; /* Takes up the remaining space */
    display: flex;
    justify-content:end; /* Aligns the links to the right */
    margin-right:1.5rem ; /* Adjust the margin as needed */
}

.nav-links ul {
    display: flex;
    gap: 3rem;
}

.nav-links ul li {
    position: relative;
}

.nav-links ul li a {
    color: #FFC857; /* Gold color for links */
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

.nav-links ul li a:hover {
    color: #F1FAEE; /* Soft white on hover */
}

/* Active Link Box */
.nav-links ul li.active a {
    border: 2px solid #FFC857; /* Gold border for active link */
    color: #FFC857; /* Gold text */
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background-color: transparent; /* No fill */
}
