
.logo {
  height: 6rem;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
@media (max-width: 600px) {
  .logo {
    height: 4rem;
    padding: 1em;
  }
}